In [32]:
import pandas as pd
import numpy as np

In [33]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [34]:
train = train.drop('Unnamed: 0',axis=1)
test = test.drop('Unnamed: 0',axis=1)

In [35]:
train.head()

,school,text,label,file,date
0,Tweeddale Primary School,Scho...,closed,50055540,15 January 2019
1,URN: 302140 Closed,for s provision Uni...,closed,1415927,25 November 2014
2,Pepe & Friends,Pepe Friends...,closed,50070828,21 May 2019
3,Pepe & Friends,Pepe Friends...,closed,50040089,20 March 2019
4,Pepe & Friends,...,closed,2779003,11 October 2018

In [36]:
test.head()

,school,text,label,file,date
0,Loganberries Childcare And Tutoring Closed,...,closed,2566925,
1,Dovedale Before and After School Club Closed,...,closed,2669737,
2,Cottonstones Pre-School Playgroup Closed,Unt...,closed,1095087,07 July 2010
3,St Mary and St John Junior and Infant School C...,Scho...,closed,2686395,09 October 2018
4,St Mary and St John Junior and Infant School C...,Unt...,closed,879089,07 April 2011

In [37]:
df = pd.concat([train,test])

In [39]:
len(df[df.label == 'closed'])

105506

In [40]:
len(df[df.label == 'open'])

280864

In [42]:
len(df[df.label == 'open']['school'].unique())

106

In [43]:
len(df[df.label == 'closed']['school'].unique())

33506

In [44]:
df[df.label == 'open']

,school,text,label,file,date
23002,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23003,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23004,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23005,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23006,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23007,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23008,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23009,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23010,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23011,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23012,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23013,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23014,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23015,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23016,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23017,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23018,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23019,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23020,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23021,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23022,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23023,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23024,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23025,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23026,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23027,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23028,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23029,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23030,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
23031,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017
...,...,...,...,...,...
77619,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77620,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77621,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77622,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77623,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77624,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77625,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77626,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77627,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77628,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77629,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77630,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77631,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77632,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77633,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77634,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77635,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77636,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77637,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77638,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77639,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77640,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77641,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77642,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77643,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77644,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77645,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77646,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77647,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016
77648,Holiday Club,Kidscape Breakfast After School Holiday Cl...,open,2590089,28 July 2016

In [38]:
df.head()

,school,text,label,file,date
0,Tweeddale Primary School,Scho...,closed,50055540,15 January 2019
1,URN: 302140 Closed,for s provision Uni...,closed,1415927,25 November 2014
2,Pepe & Friends,Pepe Friends...,closed,50070828,21 May 2019
3,Pepe & Friends,Pepe Friends...,closed,50040089,20 March 2019
4,Pepe & Friends,...,closed,2779003,11 October 2018

In [10]:
df = df[pd.notnull(df['date'])]

In [11]:
df.head()

,school,text,label,file,date
0,Tweeddale Primary School,Scho...,closed,50055540,15 January 2019
1,URN: 302140 Closed,for s provision Uni...,closed,1415927,25 November 2014
2,Pepe & Friends,Pepe Friends...,closed,50070828,21 May 2019
3,Pepe & Friends,Pepe Friends...,closed,50040089,20 March 2019
4,Pepe & Friends,...,closed,2779003,11 October 2018

In [12]:
len(df)

386370

In [13]:
df = df.drop_duplicates()

In [14]:
len(df)

105834

In [38]:
df = df.rename(columns={'label': 'status'})

In [16]:
school_names = df['school'].unique()

In [40]:
tmp = df[df.school == school_names[2]]

In [55]:
from datetime import date
from datetime import datetime
# tmp['date'] = tmp['date'].apply(lambda x: datetime.strptime(x, '%d %B %Y'))
max_date = tmp[tmp['date'] == tmp['date'].max()]
rest = tmp[~tmp.isin(max_date)].dropna()
# max_date['label'] = 'last'

In [58]:
rest['label'] = ['not_last' for i in range(len(rest))]

In [62]:
len(school_names)

33606

In [75]:
new_df = pd.DataFrame(columns=['school','text','status','file','date','label'])
from datetime import date
from datetime import datetime

for school in school_names:
    tmp = df[df['school'] == school]
    max_date = tmp[tmp['date'] == tmp['date'].max()]
    rest = tmp[~tmp.isin(max_date)].dropna()
    max_date['label'] = 'last'
    rest['label'] = ['not_last' for i in range(len(rest))]
    new_df = new_df.append(max_date,ignore_index=True)
    new_df = new_df.append(rest,ignore_index=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [81]:
new_df.head()

,school,text,status,file,date,label
0,Tweeddale Primary School,Scho...,closed,50055540,15 January 2019,last
1,URN: 302140 Closed,for s provision Uni...,closed,1415927,25 November 2014,last
2,Pepe & Friends,Pepe Friends...,closed,50070828,21 May 2019,last
3,Pepe & Friends,Pepe Friends...,closed,50040089,20 March 2019,not_last
4,Pepe & Friends,...,closed,2779003,11 October 2018,not_last

In [77]:
len(new_df)

105834

In [79]:
new_df['file'] = new_df['file'].astype(int)

In [80]:
new_df.to_csv('data/last_reports.csv')

In [72]:
rest

,school,text,status,file,date,label
3,Pepe & Friends,Pepe Friends...,closed,50040089.0,20 March 2019,not_last
4,Pepe & Friends,...,closed,2779003.0,11 October 2018,not_last
5,Pepe & Friends,Compliance act...,closed,50027189.0,16 April 2019,not_last

In [72]:
df = pd.read_csv('data/last_reports.csv')

In [73]:
df.head()

,Unnamed: 0,school,text,file,status,label
0,0,Tweeddale Primary School,Scho...,50055540,closed,last
1,1,Loganberries Childcare And Tutoring Closed,...,2566925,closed,last
2,2,Dovedale Before and After School Club Closed,...,2669737,closed,last
3,3,Pepe & Friends,Pepe & Friends...,50070828,closed,last
4,4,Cottonstones Pre-School Playgroup Closed,DAY CARE INSPECTION R...,1600171,closed,last

In [74]:
df = df.drop('Unnamed: 0',axis=1)

In [75]:
opened = df[df.status == 'open']

In [76]:
opened['label'].unique()

array(['not_last'], dtype=object)

In [77]:
len(opened['school'].unique())

45148

In [78]:
len(closed['school'].unique())

22648

In [79]:
closed = df[df.status == 'closed']

In [80]:
closed['label'].unique()

array(['last', 'not_last'], dtype=object)

In [81]:
len(df[df.label == 'last'])

19761

In [82]:
len(df[df.label == 'not_last'])

269978

In [62]:
df = df.drop_duplicates()

In [63]:
len(df)

289739

In [13]:
new_df = pd.concat([opened,closed],ignore_index=True)

In [14]:
new_df.head()

,school,text,status,file,date,label
0,11,Calvary Morning ...,open,1749585,,not_last
1,11,Calvary Morning Glory Club for s provisionUn...,open,1439823,,not_last
2,Methodist School,Trinity CE Methodist Primary School Kiln La...,open,2563496,20 October 2015,not_last
3,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017,not_last
4,Methodist School,Trinity Church of England Methodist School ...,open,1975209,04 December 2015,not_last

In [21]:
schools = new_df[~new_df.isin(new_df[new_df.school == '11'])].dropna()

In [22]:
schools['file'] = schools['file'].astype(int)

In [23]:
schools.head()

,school,text,status,file,date,label
2,Methodist School,Trinity CE Methodist Primary School Kiln La...,open,2563496,20 October 2015,not_last
3,Methodist School,School report The Wainfleet Magdalen Chu...,open,2655833,07 February 2017,not_last
4,Methodist School,Trinity Church of England Methodist School ...,open,1975209,04 December 2015,not_last
5,Methodist School,PDFINSPECTION REPORTTRINITY SCHOOLSkelm...,open,784165,06 July 2011,not_last
6,Methodist School,UntitledTrinity Church of England MethodistSch...,open,896709,16 June 2011,not_last

In [26]:
schools[schools.status == 'open']['label'].unique()

array(['not_last'], dtype=object)

In [27]:
schools[schools.status == 'closed']['label'].unique()

array(['last', 'not_last'], dtype=object)

In [70]:
len(schools[schools.label == 'not_last'])

43260

In [71]:
len(schools[schools.label == 'last'])

62484

In [30]:
len(schools[schools.status == 'open'])

381

In [31]:
len(schools[schools.status == 'closed'])

105363